html {
    font-family: verdana;
}

fieldset {
    margin: 12px;
    width: 600px;
}

legend {
    padding: 0 12px;
}

.blockMessage {
    display: none;
}

.disabled {
    opacity: 0.3;
}

.subsettings {
    margin-left: 22px;
}

.ruleSet {
    float: left;
    margin-right: 20px;
}

.acceptMessage {
    color: #00a000;
}

.rejectMessage {
    color: #a00000;
}

.ruleList {
    width: 195px;
}
