html {
  font-family: verdana;
}

body {
  width: 500px;
  font-size: 16px;
}

.actions {
  margin-bottom: 10px;
  text-align: center;
}

.action {
  border: 1px solid #000000;
  font-size: 20px;
}

.primary-action {
  background-color: #00cc00;
}

.tab-buttons {
  z-index: 1;
}

.tab-button {
  display: inline-block;
  border: solid 1px #000000;
  border-bottom: none;
}

.tab-button-content {
  display: inline-block;
  border-bottom: solid 1px transparent;
  padding: 10px;
}

.tab-button.selected > .tab-button-content {
  border-bottom-color: #ffffff;
}

.tab-page {
  display: none;
  margin-top: -1px;
  border: solid 1px #000000;
  padding: 10px;
}

.tab-page.selected {
  display: block;
}

.disabled {
  opacity: 0.3;
}

.boolean-editor {
  padding-left: 17px;
}

.boolean-editor > input[type=checkbox] {
  margin-left: -17px;
  margin-right: 5px;
  vertical-align: text-bottom;
}

.string-list-editor {
  display: inline-block;
  margin: 0 20px 20px 0;
}

.string-list-editor-label {
  display: block;
}

.editor-Filters-acceptUsers-label,
.editor-Filters-acceptTags-label {
  color: #00a000;
}

.editor-Filters-rejectUsers-label,
.editor-Filters-rejectTags-label {
  color: #a00000;
}

.string-list-editor-field {
  display: block;
  width: 195px;
}

.block-message {
  display: none;
}

