#posts.somr-expand-tags .post_tags {
  white-space: normal;
}

.somr-filtered > .post {
  display: none;
}

.somr-placeholder {
  opacity: 0.5;
}

.somr-placeholder:hover {
  opacity: 1;
}

.somr-placeholder-reason {
  display: none;
}

.somr-action {
  display: inline-block;
  margin-right: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.somr-show-reason .somr-placeholder-reason {
  display: inline;
}
.somr-show-reason .somr-action-show-reason {
  display: none;
}

.somr-show-post > .post {
  display: block;
}
.somr-show-post > .somr-placeholder {
  display: none;
}
